:root{
    /* Background colors */
    --background-body: #101010;
    --background-components: #20212C;
    /* Text colors */
    --text-primary: #fff;
    --text-secondary: #c0c0c0;
    /* Accent colors */
    --accent1: #e71224;
    --accent2: #2d0c08;
    --accent3: #FF416C;
}